<div *ngIf="!autenticado" class="d-flex justify-content-center align-items-center min-vh-100"
  style="background-image: url('assets/img/fondoLogin.jpg'); background-size: cover; background-position: center;">
  <div class="card shadow-lg p-5"
    style="max-width: 450px; width: 100%; border-radius: 15px; background-color: rgba(198, 196, 196, 0.737); border: 2px solid #4c5c77;">

    <div class="text-center mb-4">
      <div class="d-flex align-items-center justify-content-center rounded-circle mx-auto"
        style="width: 100px; height: 100px; background: white; border: 5px solid #fff; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <span style="font-size: 42px;">👤</span>
      </div>
    </div>


    <h3 class="text-center mb-4 text-dark">Administración</h3>

    <form (ngSubmit)="autenticarUsuario()">

      <!-- Select usuario funcional -->
      <div class="mb-4">
        <select id="emailSelect" [(ngModel)]="email" name="email" class="form-control form-control-lg" required
          style="background-color: rgba(255, 255, 255, 0.392); border: 2px solid #4c5c77; color: #333;">
          <option value="">Seleccione un usuario</option>
          <option value="roberto&#64;gmail.com">roberto&#64;gmail.com</option>
          <option value="walter&#64;gmail.com">walter&#64;gmail.com</option>
        </select>
      </div>

      <!-- Contraseña -->
      <div class="mb-4 position-relative">
        <input id="password" type="password" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="password" name="password"
          class="form-control form-control-lg ps-5" placeholder="Contraseña" required
          style="background-color: rgba(255, 255, 255, 0.493); border: 2px solid #4c5c77; color: #333;" />

        <i class="bi bi-lock position-absolute top-50 start-0 translate-middle-y ms-3 text-dark"></i>
      </div>

      <!-- Botones -->
      <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-outline-dark btn-lg shadow-sm"
          style="border: 2px solid #333; background-color: transparent; font-weight: bold;">
          Iniciar Sesión
        </button>
      </div>


    </form>
  </div>
</div>

<app-crear-producto-mal-estado *ngIf="autenticado"></app-crear-producto-mal-estado>