@media (max-width: 415.98px) {
    .botonPequeño {
        font-size: 6px;
    }
    .letraMuyPequeña {
        font-size: 7px; /* O ajusta al tamaño deseado */
    }
    .margenPequeño{
        padding: 1px;
    }

}
@media (max-width: 325.98px) {
    .letraPequeña {
        font-size: 10px; /* O ajusta al tamaño deseado */
    }
    .letraMuyPequeña {
        font-size: 3px; /* O ajusta al tamaño deseado */
    }
    .botonPequeño {
        font-size: 3px;
        margin-top: 3px;
    }
    .margenPequeño{
        padding: 0px;
    }

}

.break-word {
    word-break: break-word; 
    overflow-wrap: break-word;
    hyphens: auto; 
  }